* {
  box-sizing: border-box;
  /*border: solid 1px;*/
}

body, html, .container{
  background-color: antiquewhite !important;
}

.todolist{
  max-width: 600px;
  margin: auto;
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
}

#input{
  display: inline-block;
  width: calc(100% - 90px);
  padding-top: 5px;
}

.list_content{
  max-height: 517px;
  overflow-y: scroll;
}

.header {
  background-color: #f44336;
  padding: 10px 40px 0px 40px;
  color: white;
  text-align: center;
  margin-top: 50px;
}

ul.unstyled {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 0 !important;
  padding: 0;
  text-align: left;
  align-items: center;
  background: #7d7d7d
}

ul li{
  list-style: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
  transform: translate(-2px, -2px);
  font-weight: bold;
}

.done_true {
  text-decoration: line-through;
  color: #f44336;
}

.checkbox{
  width: 100%;
  position: relative;
  padding: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.delete_btn{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  padding: 10px 10px;
}

.delete_btn:hover{
  background-color: #f44336;
  color: white;
}

#blank {
  color: white;
  font-size: 12px; 
  font-weight: bold;
}