<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist - Angular</title>
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/pretty-office-10/512/Pencil-512.png">

    <link rel="stylesheet" type="" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

  </head>
  <body ng-controller="TodoListController as todoList">
    <div class="container">
      <div class="todolist">
        <div class="header">
          <h2>My To Do List</h2>
          <!-- 'ng-submit'' allow submit through press Enter btn-->
          <form ng-submit="todoList.addTodo()"> 
            <input id="input" type="text" ng-model="todoList.todoText" size="30" placeholder="Write something and press ENTER." class="form-control"> 
            <button type="submit" class="btn btn-secondary btn-md">+ ADD</button><br>
            <span id="blank" show="{{todoList.blank}}">{{todoList.blank}}</span><br>
          </form>
        </div>
        <div class="list_content">
          <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done_{{todo.done}}">{{todo.text}}
                  <div class="delete_btn" ng-click="todoList.delete($index)">&#10005</div>
                </span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>